@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.ships__scores {
    color: red;
}

.ships {
    .ships__mothership {
        width: 60vw;
        box-shadow: 5px 5px;
        border-radius: 50%;
    }

    .ships__dship {
        width: 30vw;
        box-shadow: 2px 2px;
        border-radius: 50%;
    }

    .ships__aship {
        width: 15vw;
        box-shadow: 2px 2px;
        border-radius: 50%;
    }
    // font-family: irish-grover;
    .ships__mothership, .ships__dship, .ships__aship { 
        border: 2px solid black;
        display: flex;
        // text-align: center;
    }

}


.player {
    border: 2px solid black;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    display: flex;
}

